
.WishlistCard {
    // 460 by 215 height
    width: inherit;
    position: relative;
    transition: height ease-in-out 0.6s;
    // height: calc(100vw * 460/215);
    height: 18em;
}

.WishlistCard:hover {
    height: 35em;
}

.gameTitle {
    text-align: left;
    position: absolute;
    width: 100%;
}

.gameTitle::before {
    padding-top: calc((215/460));
    padding-top: calc(100 * 215/460);
}

.gameInformation {
    z-index: -1;
}


.list-render {
    width: 500px;
    padding: 1em;

    h2 {
        margin: 0;
    }
}

img {
    width: 100%;
}
