

body {
    background-color: #5aa0d2 !important;
}

.landing-page {
    border: 1px black solid;
    border-radius: 2em;
    background-color: #545454;
    color: white;

    height: fit-content;
    padding: 1em;
    display: flex;

    .landing-page-intro, .landing-page-user-links {
        text-align: center;
        padding: 1em;
    }

    .landing-page-user-links > ul {
        list-style-type: none;

        li {
            display: inline-block;

            button {
                width: 8em;
                height: 3em;
            }
        }
    }
}