
.landing-page {

    .landing-page-intro, .landing-page-user-links {
        text-align: center;
        padding: 1em;

        h1 {
            font-size: 3.5em;
        }
    }
}

.home-page {
    h1 {
        margin: 0 auto;
    }

    .footer {
        margin-top: 5em;

        a {
            text-decoration: none;
            color: greenyellow;
            transition: color 0.2s ease-out;
        }

        a:hover {
            color: orangered;
        }
    }
}