
.btn-align {
    align-self: center;
    display: flex;
    justify-content: center;
}

.failure-response {
    color: red;
    font-weight: 600;
    text-decoration: underline;
    text-align: right;
    font-size: large;
}
